.header {
  margin-top: 20px;
  background: #ac9271;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0;
}
.menu li {
  display: inline-block;
  color: #fff;
}
.menu li a {
  color: #fff;
  text-decoration: none;
}
.activeLi {
  border: 1px solid #fff;
  padding: 10px 20px;
}
.subMenu {
  background: #f1f0ee;
  height: 60px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content ul li {
  list-style: none;
  float: left;
  text-align: center;
  margin: 0 20px;
  width: 300px;
}
.content ul li span {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: black;
}
.content ul li p {
  color: darkgrey;
}
.content ul li button {
  /* display: none; */
  padding: 10px 20px;
  background: none;
  color: darkred;
  border: 1px solid darkred;
  opacity: 0.7;
}
.discvrWrapper {
  height: 100px;
}
.wrapFoot {
  background: #fff;
  height: 100px;
  width: 100%;
  float: left;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapFoot button {
  background: none;
  padding: 10px 20px;
  border: 1px solid darkred;
  color: darkred;
}
.footerCont {
  background: url(./images/left.png) no-repeat left bottom #324d48;
  height: 600px;
  background-size: 28% 62%;
}
.footerContRight {
  background: url(./images/right.png) no-repeat right top;
  height: 600px;
  background-size: 28% 62%;
  margin-top: 0;
}
.footerContRight .div1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ab9371;
}
.footerContRight .div1 span {
  display: inline-block;
  font-size: 22px;
}
.rightNav {
  background: #0d7b58;
  width: 320px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
}
.rightNav ul li {
  cursor: pointer;
  list-style-type: none;
  padding: 10px 0;
  text-align: right;
  padding-right: 20px;
}
.rightNav ul li a {
  color: #fff;
  text-decoration: none;
  text-align: right;
}
.rightNav ul li:hover a{
    color:darkred;
}
.dltButton{
    background:darkred;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.preview img{
    width: 150px;
}
.title{
    color:darkgreen;
}